.previewTitle {
  font-size: 5vmin;
  padding: 1vmin;
  margin: 0;
}

section h3 {
  transform: rotate(-5deg);
}

.previewTitle a {
  padding: 0 5vmin;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}
