@font-face {
  font-family: "julietta-messie-ooer";
  src: url("../../static/julietta-messie-ooer.woff2") format("woff2"),
    url("../../static/julietta-messie-ooer.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ooer-home h3 {
  min-height: 30vh;
  font-family: "julietta-messie-ooer";
  font-size: 40vmin;
  color: #cd0000;
  transform: rotate(-10deg);
}

@media (min-width: 800px) {
  .ooer-home h3 {
    min-height: 40vh;
    font-size: 40vmin;
  }
}

.ooer-home h3 a {
  text-decoration: none;
}
